body {
    background: #999999;
    font: 44px "Century Gothic", Futura, sans-serif;
    text-align: center;
    font-weight: 300;
    padding: 50px;
    display: table;
    margin: auto;
}

ol, ul {
    padding-left: 40px;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.status {
    background: #25cfcf;
    border: 1px solid #2b2b2b;
    margin-bottom: 10px;
    padding: 1px;
}

.square {
    align-content: center;
    vertical-align: middle;
    background: #fff;
    border: 2px solid #60e6ee;
    font-size: 104px;
    font-weight: bold;
    line-height: 240px;
    height: 240px;
    padding: 0;
    text-align: center;
    width: 240px;
}

.square:focus {
    outline: none;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.game {
    display: flex;
    flex-direction: row;
}

.game-info {
    margin-left: 20px;
}
